<!--
  Generated template for the Frete page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Frete</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	  <img [@fade]="fadeStateFrete" (load)="carregaFotoFrete()" [ngClass]="{'img-loaded':imgFrete}" [hidden]="!imgFrete" src="img/frete.jpg">
	  <ion-spinner color="primary" [ngClass]="{'center center-profile':true}" *ngIf="!imgFrete"></ion-spinner>
	  <ion-card-content>
	    <ion-card-title>
	      Cálculo de frete
	      </ion-card-title>
	    <p>
	      Calcule o valor de frete entre duas cidades cadastradas na base de dados.
	    </p>
	    <button ion-button round icon-left (click)="calcularFrete()">
		  <ion-icon name="calculator"></ion-icon>
		  Calcular
		</button>
	  </ion-card-content>
	</ion-card>

	<ion-card>
	  <img [@fade]="fadeStateListaFrete" (load)="carregaFotoListaFrete()" [ngClass]="{'img-loaded':imgListaFrete}" [hidden]="!imgListaFrete" src="img/frete-lista.jpg">
	  <ion-spinner color="primary" [ngClass]="{'center center-profile':true}" *ngIf="!imgListaFrete"></ion-spinner>
	  <ion-card-content>
	    <ion-card-title>
	      Lista de fretes
	      </ion-card-title>
	    <p>
	      Visualize os fretes já calculados anteriormente.
	    </p>
	    <button ion-button round icon-left (click)="listarFretes()">
		  <ion-icon name="list"></ion-icon>
		  Listar
		</button>
	  </ion-card-content>
	</ion-card>
</ion-content>
